/**
布局容器
 */
$el-header-bg-color: #151c29;
$el-header-font-color: #333;
$el-main-bg-color: #E9EEF3;
$el-main-font-color: #333;
$el-footer-bg-color: #B3C0D1;
$el-footer-font-color: #333;

/**
导航菜单
 */
$bg-color: #ccc
